# Terraform ignore rules
**/.terraform/*
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.tfvars.json
terraform.rc
terraform.tfstate.d/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
secrets.tfvars
.terraform.lock.hcl
.terraform 
.terraform.tfstate


# Ignore all dot files
.*

# But not .gitignore or .gitattributes
!.gitignore
!.gitattributes
